<a id="anchor-impressum"></a>
<div id="container">
  <div id="first">
    <div class=innerbox>
      <div id=innerfirst>Inhaber:</div> 
      <div id=innersecond>{{name + "\n" + address}}</div>
    </div>
    <div class=innerbox>
      <div id=innerfirst>{{"Tel.: \n Email:"}}</div> 
      <div id=innersecond>{{phone + "\n" + email}}</div>
    </div>
  </div>
  <div id="second">
    <div class=innerbox>
      <div id=innerfirst>Kammer:</div> 
      <div id=innersecond>{{legal_info1}}</div>
    </div>
    <div class=innerbox>
      <div id=innerfirst>{{"SteuerId:"}}</div> 
      <div id=innersecond>{{legal_info2}}</div>
    </div>
  </div>
</div>