<div id="container">
  <div id="first">
    <div ngbDropdown class="d-inline-block">
      <button class="mat-icon-button" id="dropdownBasic1" ngbDropdownToggle mat-icon-button><mat-icon>menu</mat-icon></button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <ul>
          <li><a href="../services/services.component.html#anchor-services">Leistungen</a></li>
          <li><a href="../slider/slider.component.html#anchor-slider">Galerie</a></li>
          <li><a href="../app.component.html#anchor-impressum">Impressum</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div id="second">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <div class=instabox>
      <span class="instagram">
        <a href="#" class="fa fa-instagram" style="color: white;"></a>
      </span>
    </div>
  </div>
</div>